

<div class="container">
  <div class="row">
    <div class="col s8 offset-s2 form">
      <h3>edit</h3>
      <div class="col s12 titleError">
      </div>
      <div class="input-field">
        <i class="large material-icons prefix">create</i>
        <input class="listTitle" type="text" class="validate" value="<%=list.name%>">
        <label class="active" for="listTitle">Give your list a title</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2 form">
      <div class="col s12 error"></div>
      <div class="input-field">
        <i class="large material-icons prefix">add_location</i>
        <input id="destinationAuto" type="text" class="validate destination" value="<%=list.location%>">
        <label class="active" for="destination"></label>
      </div>
    </div>
  </div>
</div>

  <% include ../partials/categories %>

  <div class="row">
    <div class="col s4 form offset-s4 submit reSubmit">
      <a href="#"class="btn reSubmitBtn" type="button" name="search">Search</a>
    </div>
  </div>
</div>
