<h1>Edit</h1>

<%= list %>
<div class="container">
  <div class="row">
    <form method="POST" action="/lists/<%= list.id %>" class="col s12 editForm">
      <input type="hidden" name="_method" value="PUT">
      <div class="row">
        <div class="input-field col s12">
          <input class="listTitle" type="text" class="validate" value="<%=list.name%>">
          <label class="active" for="listTitle">Give your list a title</label>
        </div>
        <div class="input-field col s12">
          <input class="destination" type="text" class="validate" value="<%=list.location%>">
          <label class="active" for="destination">Where are are going?</label>
        </div>
      </div>
      

      <div class="row">
        <a href="#"class="btn reSubmit" type="button" name="search">Search</a>
      </div>
    </form>
  </div>
</div>
