

<%# lists %>
<div class="container">
  <h2>Feed</h2>
  <div class="row">
    <% lists.forEach ((list)  => {%>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">

          <img class="index-img" src="<%= list.photo%>">

          <span class="card-title white-text text-darken-1"><%=list.name%></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red" href="/lists/<%= list.id %>"><i class="material-icons">+</i></a>
        </div>
        <div class="card-content">
          <p class="listLocation"><%=list.location%></p>
        </div>
      </div>
    </div>


    <%})%>
  </div>
</div>
