<div class="row">
  <div class="col s10 offset-s1 form categories">
    <div class="btn museum categoryBtn" data-loc="4bf58dd8d48988d181941735" data-name="museum">
    <span>Museums</span>
    </div>
    <div class="btn food categoryBtn" data-loc="4d4b7105d754a06374d81259" data-name="food">
    <span>Food</span>
    </div>
    <div class="btn night categoryBtn" data-loc="4d4b7105d754a06376d81259" data-name="night">
    <span>Night Life</span>
  </div>
    <div class="btn music categoryBtn" data-loc="4bf58dd8d48988d1e5931735" data-name="night">
    <span>Music Venues</span>
    </div>
    <div class="btn event categoryBtn" data-loc="4d4b7105d754a06373d81259" data-name="night">
    <span>Events</span>
    </div>
    <div class="btn chicken categoryBtn" data-loc="4d4ae6fc7a7b7dea34424761" data-name="night">
    <span>Fried Chicken</span>
    </div>
    <div class="btn bar categoryBtn" data-loc="4bf58dd8d48988d116941735" data-name="night">
    <span>Bars</span>
    </div>
    <div class="btn pub categoryBtn" data-loc="4bf58dd8d48988d11b941735" data-name="night">
    <span>Pubs</span>
    </div>
    <div class="btn squash categoryBtn" data-loc="52e81612bcbc57f1066b7a2d" data-name="night">
    <span>Squash Courts</span>
    </div>
  </div>
</div>
