<div class="row">
  <div class="col s12 form categories">
    <div class="btn museum categoryBtn" data-loc="4bf58dd8d48988d181941735">
    <span>Museums</span>
    </div>
    <div class="btn food categoryBtn" data-loc="4d4b7105d754a06374d81259">
    <span>Food</span>
    </div>
    <div class="btn night categoryBtn" data-loc="4d4b7105d754a06376d81259">
    <span>Night Life</span>
  </div>
    <div class="btn music categoryBtn" data-loc="4bf58dd8d48988d1e5931735">
    <span>Music Venues</span>
    </div>
    <div class="btn event categoryBtn" data-loc="4d4b7105d754a06373d81259">
    <span>Events</span>
    </div>
    <div class="btn chicken categoryBtn" data-loc="4d4ae6fc7a7b7dea34424761">
    <span>Fried Chicken</span>
    </div>
    <div class="btn bar categoryBtn" data-loc="4bf58dd8d48988d116941735">
    <span>Bars</span>
    </div>
    <div class="btn pub categoryBtn" data-loc="4bf58dd8d48988d11b941735">
    <span>Pubs</span>
    </div>
    <div class="btn squash categoryBtn" data-loc="52e81612bcbc57f1066b7a2d">
    <span>Squash Courts</span>
    </div>
    <div class="btn movie categoryBtn" data-loc="4bf58dd8d48988d17f941735">
    <span>Movie Theatre</span>
    </div>
    <div class="btn theatre categoryBtn" data-loc="4bf58dd8d48988d137941735">
    <span>Theatre</span>
    </div>
    <div class="btn gym categoryBtn" data-loc="4bf58dd8d48988d175941735">
    <span>Gym</span>
    </div>
    <div class="btn park categoryBtn" data-loc="4bf58dd8d48988d163941735">
    <span>Parks</span>
    </div>
    <div class="btn library categoryBtn" data-loc="4bf58dd8d48988d12f941735">
    <span>Libraries</span>
    </div>
    <div class="btn sprit categoryBtn" data-loc="4bf58dd8d48988d131941735">
    <span>Spiritual Centers</span>
    </div>
    <div class="btn shops categoryBtn" data-loc="4d4b7105d754a06378d81259">
    <span>Shops and Services</span>
    </div>
  </div>
</div>
