<nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo right">Logo</a>
     <ul id="nav-mobile" class="left hide-on-med-and-down">
       <li><a href="/lists">Lists</a></li>
       <li><a href="/lists/new">New List</a></li>
       <li><a href="collapsible.html">JavaScript</a></li>
     </ul>
   </div>
 </nav>
