

<div class="homepage">
  <img class="homeBackImg"src="http://thewallpaper.co/wp-content/uploads/2016/03/black-and-white-city-houses-skyline-landscape-amazing-city-view-beautiful-place-wallpaper-free-city-photos-best-town-city-images-for-windows-large-places-background-1600x1024.jpg" alt="">

  <div class="container">
<img class="homeImg"src="http://i.imgur.com/UfemBol.png" alt="">

  </div>

</div>
