html {
  // background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: #aaa;
  font-family: 'Raleway', sans-serif;
}
.map{
  #map{
    height: 550px;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin: 10px auto;
    box-shadow: -1px 5px 44px -12px rgba(0,0,0,0.8);
  }

  .close{

    position: relative;
    z-index: 3;
    float: right;
    margin: 20px 10px;
  }
  margin-top: -200px;
  width: 72%;
  position: fixed;

}
.buttons{
  margin-top: 40px;
  margin-bottom: 40px;
}

.blue{
  background-color: red;
  color: white;
  width: 100%

}

.venue{
  margin-top: 10px;
  background-color: #ddd;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 8px;
}
.btn{
  background-color: #ff8f56;
  box-shadow: none;
}
.btn:hover{
  background-color: #984a59;
  box-shadow: none;
}
.show-header{
  width: 100%;
  margin-top: 0px;
  height:200px;
  overflow: hidden;
  img{
    width: 100%;
    margin-top: -30%;
	  display: block;
    position: relative;
  }
}
.form{
  margin-top: 20px;
  h4{
    text-align: center;
    margin-bottom: 50px;;
  }
  button{
    margin-top: 40px;
    width: 100%;
    box-shadow: none;
  }
  button:hover{
    box-shadow: none;
  }
}


.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid #ff8f56 !important;
   box-shadow: 0 1px 0 0 #ff8f56 !important;
}
.input-field input[type=text] {
   border-bottom: 1px solid #bbb !important;
   box-shadow: 0 1px 0 0 #bbb !important;
}
.input-field input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid #ff8f56 !important;
   box-shadow: 0 1px 0 0 #ff8f56 !important;
}
.input-field input[type=password] {
   border-bottom: 1px solid #bbb !important;
   box-shadow: 0 1px 0 0 #bbb !important;
}
.input-field input{
     color: #000;
   }
.categories{
  text-align: center;
  .btn{
    background-color: #aaa;
    margin: 10px;
    border-radius: 20px;
  }
}
.submit{
  text-align: center;
}
.label{
  margin-bottom: -20px !important;
  height: 10px !important;
}
.input{

  margin-top: 60px !important;
}

nav{

  background-color: white;
  box-shadow: none;
  border-bottom: 2px solid #ccc;
  .right{
    margin-right: 30px;
    top: 5px;
  }

}
a{
  color: #2d5c7f;
}
.listItems{
  border: 2px solid #777;
  margin: 10px 0;
  padding: 5px;
}

.userList{
  border: 2px solid #777;
  margin: 10px 10px;
}
.imageFrame{
  height: 230px;
  overflow: hidden;
}
.index-img{
  // height: 100%;
  width: 100%;
}

.error, .titleError{
  padding: 0;
  height: 30px;
  margin-bottom: -15px;
  position: relative;
  color: #f44336;
  margin-left: 20px;
}
.titleError{
  margin-bottom: 10px;
}
.submitBtn{
  margin-bottom: 40px;
}

.category{
  font-size: 15px;
  color: #555;
}
.categoryBtn{

}

.venueName{
  font-size: 20px;
  color: #2d5c7f;
}
.homeImg{
  left: 20%;
  width: 60%;
  position: absolute;
  z-index: 1;
  top: 60px;
}
.homepage{
  background-image: url('');
  position: relative;
  margin-top: -30px;

}

.homeBackImg{
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;

}
