html {
  // background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  color: #aaa;
  font-family: 'Raleway', sans-serif;
}
#map{
  height: 600px;
  width: 600px;
}
.blue{
  background-color: #2d5c7f;
  color: white;
}


.venue{
  margin-top: 10px;
  background-color: #ddd;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn{
  background-color: #ff8f56;
}
.btn:hover{
  background-color: #984a59;
}
.show-header{
  width: 100%;
  margin-top: 0px;
  height:200px;
  overflow: hidden;
  img{
    width: 100%;
    margin-top: -30%;
	  display: block;
    position: relative;
  }
}
.form{
  margin-top: 20px;
  h4{
    text-align: center;
    margin-bottom: 50px;;
  }
  button{
    margin-top: 40px;
    width: 100%;
    box-shadow: none;
  }
  button:hover{
    box-shadow: none;
  }
}


.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid #ff8f56 !important;
   box-shadow: 0 1px 0 0 #ff8f56 !important;
}
.input-field input[type=text] {
   border-bottom: 1px solid #bbb !important;
   box-shadow: 0 1px 0 0 #bbb !important;
}
.input-field input[type=password]:focus, .materialize-textarea:focus:not([readonly]) {
   border-bottom: 1px solid #ff8f56 !important;
   box-shadow: 0 1px 0 0 #ff8f56 !important;
}
.input-field input[type=password] {
   border-bottom: 1px solid #bbb !important;
   box-shadow: 0 1px 0 0 #bbb !important;
}
.input-field input{
     color: #000;
   }

nav{
  background-color: white;
  box-shadow: none;
  border-bottom: 2px solid #ccc;
  .right{
    margin-right: 30px;
    top: 5px;
  }

}
a{
  color: #2d5c7f;
}
.listItems{
  border: 2px solid #777;
  margin: 10px 0;
  padding: 5px;
}

.userList{
  border: 2px solid #777;
  margin: 10px 10px;
}
.imageFrame{
  height: 230px;
  overflow: hidden;
}
.index-img{
  // height: 100%;
  width: 100%;
}

.error, .titleError{
  padding: 0;
  height: 30px;
  margin-bottom: -15px;
  position: relative;
  color: #f44336;
  margin-left: 20px;
}
.titleError{
  margin-bottom: 10px;
}



.category{
  font-size: 15px;
}

.venueName{
  font-size: 20px;
}
